@font-face {
  font-family: 'nexabold';
  src: url("../fonts/nexa_bold-webfont.eot");
  src: url("../fonts/nexa_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa_bold-webfont.woff") format("woff"), url("../fonts/nexa_bold-webfont.ttf") format("truetype"), url("../fonts/nexa_bold-webfont.svg#nexa_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'nexalight';
  src: url("../fonts/nexa_light-webfont.eot");
  src: url("../fonts/nexa_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nexa_light-webfont.woff") format("woff"), url("../fonts/nexa_light-webfont.ttf") format("truetype"), url("../fonts/nexa_light-webfont.svg#nexa_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'freehand';
  src: url("../fonts/freehand-webfont.eot");
  src: url("../fonts/freehand-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/freehand-webfont.woff") format("woff"), url("../fonts/freehand-webfont.ttf") format("truetype"), url("../fonts/freehand-webfont.svg#tr_freehand575regular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

::-moz-selection {
  background: #f40009;
  color: #ffffff; }

::selection {
  background: #f40009;
  color: #ffffff; }

::-moz-selection {
  background: #f40009;
  color: #ffffff; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none !important; }

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  position: relative;
  z-index: 1; }

.logo {
  display: block;
  width: 165px;
  height: 45px;
  background: url("../img/logo1.png") no-repeat;
  background-size: contain;
  background-position: center; }

.pageHolder {
  padding: 120px 0; }

.mainContainer {
  width: 1170px;
  margin: auto;
  padding: 0 15px; }

.btnPrimary {
  background: #f40009;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 13px 40px;
  display: inline-block;
  border: 1px solid #f40009;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: .3s;
  transition: .3s;
  white-space: nowrap; }
  .btnPrimary:hover {
    color: #fff;
    text-decoration: none;
    background: #db0008;
    border: 1px solid #db0008; }
  .btnPrimary:focus, .btnPrimary:active {
    text-decoration: none;
    color: #fff; }

.btnWhite {
  background: #fff;
  color: #f40009;
  text-decoration: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 13px 40px;
  display: inline-block;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: .3s;
  transition: .3s;
  white-space: nowrap; }
  .btnWhite:hover {
    color: #f40009;
    text-decoration: none;
    background: #f2f2f2;
    border: 1px solid #f2f2f2; }
  .btnWhite:focus, .btnWhite:active {
    text-decoration: none;
    color: #f40009; }

.preHeader {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 0; }
  .preHeader .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff; }
    .preHeader .wrapper .right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .preHeader .wrapper .localMenu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      list-style: none;
      margin-right: 30px; }
      .preHeader .wrapper .localMenu a {
        display: block;
        color: #fff;
        font-size: 12px;
        font-weight: 300;
        text-decoration: none;
        -webkit-transition: .3s;
        transition: .3s; }
      .preHeader .wrapper .localMenu li + li {
        margin-left: 15px; }
    .preHeader .wrapper .socList {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      list-style: none; }
      .preHeader .wrapper .socList a {
        color: #fff;
        font-size: 18px; }
      .preHeader .wrapper .socList li + li {
        margin-left: 15px; }

.mainHeader {
  position: absolute;
  width: 100%;
  z-index: 100;
  -webkit-transition: .3s;
  transition: .3s;
  background: transparent; }
  .mainHeader .mainMenuHolder {
    padding: 18px 0; }
  .mainHeader .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .mainHeader .wrapper .menuContainer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
  .mainHeader.stickyHeader.fixed {
    top: -100%;
    position: fixed; }
    .mainHeader.stickyHeader.fixed .preHeader {
      display: none; }
    .mainHeader.stickyHeader.fixed .logo {
      background: url("../img/logo2.png") no-repeat;
      background-size: contain;
      background-position: center; }
  .mainHeader.stickyHeader.in {
    -webkit-box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6);
    box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6);
    background: #fff;
    top: 0; }
    .mainHeader.stickyHeader.in .menu a {
      color: #2d2d2d; }
    .mainHeader.stickyHeader.in .cartBtn {
      color: #2d2d2d; }
  .mainHeader .menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    list-style: none; }
    .mainHeader .menu a {
      display: block;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      -webkit-transition: .3s;
      transition: .3s; }
      .mainHeader .menu a:hover {
        border-bottom-color: #f40009; }
    .mainHeader .menu li.active a {
      border-bottom-color: #f40009; }
    .mainHeader .menu li + li {
      margin-left: 15px; }
  .mainHeader .menuHolder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .mainHeader .cartBtn {
    color: #fff;
    font-size: 32px;
    margin-left: 30px; }

.menuTrigger {
  display: block;
  width: 40px;
  height: 24px; }
  .menuTrigger span {
    height: 4px;
    background: #fff;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .menuTrigger span + span {
    margin-top: 6px; }

.productBlock {
  background: url("../img/bg2.png") repeat; }
  .productBlock .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .productBlock .productImgHolder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .productBlock .productImgHolder .imgList {
      list-style: none;
      margin-right: 10px;
      height: 525px;
      overflow-y: auto;
      padding-right: 30px; }
      .productBlock .productImgHolder .imgList a {
        display: block;
        width: 70px;
        height: 105px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; }
      .productBlock .productImgHolder .imgList li + li a {
        margin-top: 15px; }
    .productBlock .productImgHolder .img {
      width: 450px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .productBlock .productImgHolder .img img {
        max-width: 100%;
        margin: 0 auto;
        display: block; }
  .productBlock .productDescription {
    padding-left: 60px; }
    .productBlock .productDescription .price {
      font-size: 36px;
      margin-bottom: 15px; }
    .productBlock .productDescription .text {
      margin-bottom: 30px;
      padding-top: 45px; }
      .productBlock .productDescription .text p {
        font-size: 14px;
        font-weight: 300; }
      .productBlock .productDescription .text p + p {
        margin-top: 10px; }

.videoBlock {
  background: url("../img/videoBg.png") no-repeat;
  background-size: cover;
  position: relative; }
  .videoBlock .h2 {
    font-size: 36px;
    margin-bottom: 10px; }
  .videoBlock .watch {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    font-size: 106px;
    position: relative;
    color: #ff0000;
    text-decoration: none;
    padding: 15px 0; }
    .videoBlock .watch .fa {
      position: relative;
      z-index: 2;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); }
    .videoBlock .watch:after {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      background: #fff;
      position: absolute; }
  .videoBlock:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .videoBlock .videoHolder {
    width: 860px;
    height: 480px;
    margin: auto; }
  .videoBlock .content {
    position: relative;
    z-index: 2; }
  .videoBlock .heading {
    color: #fff;
    text-align: center; }

.descriptionFiguresBlock {
  background: url("../img/bg2.png") repeat; }
  .descriptionFiguresBlock .bgHolder {
    background: url("../img/paint.png") no-repeat;
    background-position: bottom right; }
  .descriptionFiguresBlock .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0; }
    .descriptionFiguresBlock .wrapper .content {
      width: 60%; }
  .descriptionFiguresBlock .descriptionFiguresHolder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px; }
    .descriptionFiguresBlock .descriptionFiguresHolder .figure {
      width: 50%;
      padding: 15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .descriptionFiguresBlock .descriptionFiguresHolder .icoHolder {
      font-size: 54px;
      margin-right: 15px;
      color: #76808b;
      width: 60px;
      text-align: center; }
    .descriptionFiguresBlock .descriptionFiguresHolder .caption {
      width: -webkit-calc(100% - 75px);
      width: calc(100% - 75px); }
    .descriptionFiguresBlock .descriptionFiguresHolder h3 {
      margin: 0 0 5px 0;
      font-size: 16px;
      color: #768089; }
    .descriptionFiguresBlock .descriptionFiguresHolder p {
      font-size: 14px;
      font-weight: 300;
      color: #9faab3;
      text-shadow: 0 1px 3px rgba(255, 255, 255, 0.4); }

.boldHeading {
  text-align: center;
  font-family: 'nexabold', sans-serif;
  color: #a0aab4;
  font-size: 49px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: normal; }

.styledHeading {
  text-align: center;
  font-family: 'freehand', sans-serif;
  color: #a0aab4;
  font-size: 52px;
  line-height: 48px;
  font-weight: normal;
  text-rendering: optimizelegibility;
  margin-bottom: 20px; }

.container-card-plus {
  background: url(../img/card-container.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  z-index: 20;
  max-height: 400px;
  height: 400px;
  position: relative; }

.treeBlock {
  background: url("../img/bg2.png") repeat;
  -webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.6);
  position: relative;
  border-bottom: 0; }
  .treeBlock .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .treeBlock .customRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .treeBlock .star {
    display: inline-block;
    background: url(../img/star.png) 50% 0 no-repeat;
    width: 94px;
    height: 90px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .treeBlock .star:hover {
      -webkit-transform: rotate(145deg);
          -ms-transform: rotate(145deg);
              transform: rotate(145deg); }
  .treeBlock .ball {
    display: inline-block;
    background: url(../img/ball.png) 50% 0 no-repeat;
    width: 102px;
    height: 117px;
    background-size: contain; }
    .treeBlock .ball span {
      position: absolute;
      top: 32px;
      left: 21px;
      color: #fff;
      width: 55px;
      line-height: 14px; }
    .treeBlock .ball a {
      display: block;
      width: 92px;
      height: 92px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: 18px 0 0 3px;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .treeBlock .ball a:hover {
        background-color: #9E9E9E; }
    .treeBlock .ball img {
      opacity: 0;
      -webkit-border-radius: 46px;
              border-radius: 46px;
      border: 2px solid #fff;
      background: #fff;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      max-width: 100%;
      display: block; }
    .treeBlock .ball .open img {
      opacity: 1; }
    .treeBlock .ball .open span {
      opacity: 0; }
  .treeBlock .tree {
    width: 50%; }
  .treeBlock .greeting {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    font-family: 'Roboto Slab', "Helvetica Neue",Helvetica,Arial,sans-serif; }
    .treeBlock .greeting .content {
      padding-left: 60px;
      display: none; }
      .treeBlock .greeting .content.active {
        display: block; }
    .treeBlock .greeting .gh1 {
      display: block;
      font-size: 39px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      font-weight: 700;
      padding: 0 0 20px;
      color: #ed0603; }
    .treeBlock .greeting .gh2 {
      display: block;
      font-size: 18px;
      text-shadow: 0 1px 0 #ccc;
      font-weight: 300;
      padding: 0 0 20px; }

.mainFooter {
  background: #f40009;
  position: relative;
  color: #fff; }
  .mainFooter .content {
    padding: 45px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 2;
    margin: 0 -15px; }
    .mainFooter .content .columnHeading {
      color: #fff;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px; }
      .mainFooter .content .columnHeading:after {
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 10px;
        position: absolute;
        z-index: 2;
        background: #fff; }
    .mainFooter .content .column {
      padding: 0 15px; }
  .mainFooter .socList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    list-style: none; }
    .mainFooter .socList a {
      color: #fff;
      font-size: 18px; }
    .mainFooter .socList li + li {
      margin-left: 15px; }
  .mainFooter .logo {
    margin-bottom: 10px; }
  .mainFooter .text {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300; }
  .mainFooter .localMenu {
    list-style: none; }
    .mainFooter .localMenu a {
      color: #fff;
      padding: 5px 0;
      font-size: 16px;
      line-height: 26px;
      cursor: pointer;
      text-decoration: none; }
      .mainFooter .localMenu a i {
        height: 16px;
        width: 16px;
        margin-right: 5px; }
  .mainFooter .contactUsFormHolder .formControl {
    width: 100%;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    margin-bottom: 20px;
    padding: 8px 12px; }
    .mainFooter .contactUsFormHolder .formControl::-webkit-input-placeholder {
      color: #fff; }
    .mainFooter .contactUsFormHolder .formControl::-moz-placeholder {
      color: #fff; }
    .mainFooter .contactUsFormHolder .formControl:-ms-input-placeholder {
      color: #fff; }
    .mainFooter .contactUsFormHolder .formControl:-moz-placeholder {
      color: #fff; }
  .mainFooter .infoColumn {
    width: 35%; }
  .mainFooter .menuColumn {
    width: 30%; }
    .mainFooter .menuColumn .menuHolder + .menuHolder {
      margin-top: 30px; }
  .mainFooter .copyrightRow {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 0; }
    .mainFooter .copyrightRow .copyrightHolder {
      font-size: 14px; }
    .mainFooter .copyrightRow .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .mainFooter .copyrightRow .cardsHolder img {
      display: block;
      width: 165px; }

.btnGhost {
  background-color: transparent;
  -webkit-border-radius: 0;
          border-radius: 0;
  padding: 15px 30px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #fff;
  display: inline-block;
  -webkit-transition: .2s;
  transition: .2s;
  text-decoration: none; }
  .btnGhost:hover, .btnGhost:hover, .btnGhost:active {
    background: #fff;
    color: #f40009;
    text-decoration: none; }
  .btnGhost .fa {
    margin-left: 5px; }

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

.snowfall {
  background-image: url(../img/s1.png), url(../img/s2.png), url(../img/s3.png);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: snow 10s linear infinite;
          animation: snow 10s linear infinite; }

.quickCheckoutHolder {
  padding-bottom: 60px; }
  .quickCheckoutHolder .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .quickCheckoutHolder .tubeImg {
    width: 640px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .quickCheckoutHolder .caption {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 60px; }
  .quickCheckoutHolder .headingHolder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 45px; }
  .quickCheckoutHolder .boldHeading {
    font-size: 39px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    font-weight: 700;
    color: #ed0603;
    position: relative;
    display: inline-block; }
    .quickCheckoutHolder .boldHeading:before {
      content: "";
      display: block;
      height: 1px;
      width: 150px;
      background: -webkit-gradient(linear, left top, right top, from(white), to(#f40009));
      background: -webkit-linear-gradient(left, white 0%, #f40009 100%);
      background: linear-gradient(to right, white 0%, #f40009 100%);
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      left: -180px;
      z-index: 3; }
    .quickCheckoutHolder .boldHeading:after {
      content: "";
      display: block;
      height: 1px;
      width: 150px;
      background: -webkit-gradient(linear, left top, right top, from(#f40009), to(white));
      background: -webkit-linear-gradient(left, #f40009 0%, white 100%);
      background: linear-gradient(to right, #f40009 0%, white 100%);
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: -180px;
      z-index: 3; }

.mainVideoHolder {
  position: fixed;
  bottom: 100px;
  left: 20px;
  z-index: 100; }
  .mainVideoHolder .backDrop {
    display: none;
    position: fixed; }
  .mainVideoHolder .videoHeader {
    background: rgba(0, 0, 0, 0.97);
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 10px;
    height: 20px;
    position: absolute;
    top: -25px;
    left: -5px;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    border: 5px solid transparent;
    border-bottom: 0; }
    .mainVideoHolder .videoHeader a {
      color: #fff;
      font-size: 14px;
      opacity: .8;
      display: block;
      line-height: 14px; }
    .mainVideoHolder .videoHeader a + a {
      margin-left: 10px; }
    .mainVideoHolder .videoHeader .min {
      display: none; }
    .mainVideoHolder .videoHeader .closeVideo {
      font-size: 18px;
      font-weight: 300; }
  .mainVideoHolder.in {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .mainVideoHolder.in .videoHeader .min {
      display: block; }
    .mainVideoHolder.in .videoHeader .max {
      display: none; }
    .mainVideoHolder.in .backDrop {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      z-index: 101; }
    .mainVideoHolder.in .wrapper {
      width: 800px;
      height: 450px;
      -webkit-transition: width .5s;
      transition: width .5s;
      position: relative;
      z-index: 102; }
    .mainVideoHolder.in .target {
      display: none; }
  .mainVideoHolder .wrapper {
    width: 320px;
    height: 180px;
    position: relative;
    -webkit-transition: width .5s;
    transition: width .5s;
    border: 5px solid rgba(0, 0, 0, 0.97); }

.stickyCartHolder {
  width: 320px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#f00000), to(#dc281e));
  background: -webkit-linear-gradient(bottom, #f00000, #dc281e);
  background: linear-gradient(to top, #f00000, #dc281e);
  color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  .stickyCartHolder.in {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .stickyCartHolder .heading {
    text-align: center;
    padding: 25px;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff; }
  .stickyCartHolder .productTableHolder {
    padding: 15px 25px;
    border-bottom: 1px solid #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .stickyCartHolder .productTableHolder .imgHolder {
      padding: 5px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 60px; }
      .stickyCartHolder .productTableHolder .imgHolder img {
        max-width: 100%; }
    .stickyCartHolder .productTableHolder .description {
      font-size: 15px;
      padding: 10px; }
    .stickyCartHolder .productTableHolder .deleteButton {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 12px; }
      .stickyCartHolder .productTableHolder .deleteButton a {
        color: #fff; }
  .stickyCartHolder .totalHolder {
    font-size: 16px;
    text-transform: uppercase;
    padding: 25px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .stickyCartHolder .totalHolder .qnt {
      margin-left: 10px;
      font-size: 1.5em; }
  .stickyCartHolder .btnHolder {
    text-align: center;
    padding: 15px; }
    .stickyCartHolder .btnHolder .btnGhost {
      width: 100%;
      text-transform: uppercase;
      border: 2px solid #fff; }

.cartBackDrop {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  display: none;
  z-index: 999;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }
  .cartBackDrop.in {
    opacity: 1;
    display: block; }

.introSlide {
  position: relative;
  background: #f40009;
  height: 120px; }

@-webkit-keyframes menuAnimIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes menuAnimIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes menuAnimOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes menuAnimOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@media (max-width: 1200px) {
  .mainContainer {
    width: 970px;
    padding: 0 15px; }
  .pageHolder {
    padding: 80px 0; }
  .mainFooter .content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mainFooter .content .column {
      width: 100%; }
      .mainFooter .content .column.infoColumn {
        width: 50%;
        margin-bottom: 30px; }
      .mainFooter .content .column.menuColumn {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 50%; }
        .mainFooter .content .column.menuColumn .menuHolder {
          width: 50%; }
        .mainFooter .content .column.menuColumn .menuHolder + .menuHolder {
          margin-top: 0; }
  .descriptionFiguresBlock .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .descriptionFiguresBlock .bgHolder {
    background: none; } }

@media (max-width: 991px) {
  .mainContainer {
    width: 750px; }
  .mainHeader .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mainHeader .wrapper .logo {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .mainHeader .wrapper .menuContainer {
      background: rgba(0, 0, 0, 0.98);
      width: 100%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      opacity: 0;
      overflow: hidden; }
      .mainHeader .wrapper .menuContainer.in {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation-name: menuAnimIn;
                animation-name: menuAnimIn;
        -webkit-animation-duration: .4s;
                animation-duration: .4s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
      .mainHeader .wrapper .menuContainer.out {
        -webkit-animation-name: menuAnimOut;
                animation-name: menuAnimOut;
        -webkit-animation-duration: .4s;
                animation-duration: .4s;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards; }
      .mainHeader .wrapper .menuContainer .closeMenu {
        color: #fff;
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 42px; }
    .mainHeader .wrapper .menu {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
          -ms-flex-order: 3;
              order: 3;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
      .mainHeader .wrapper .menu li {
        width: 100%; }
        .mainHeader .wrapper .menu li a {
          border-bottom: 0;
          padding: 10px 0;
          font-size: 24px;
          font-weight: normal;
          text-align: center; }
      .mainHeader .wrapper .menu li + li {
        margin-left: 0; }
      .mainHeader .wrapper .menu.in {
        max-height: 800px;
        padding: 15px 0; }
    .mainHeader .wrapper .menuTrigger {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
      margin: 10px 0; }
    .mainHeader .wrapper .cartBtn {
      margin-left: 0; }
  .mainHeader.stickyHeader.in .menu a {
    color: #fff; }
  .mainHeader.stickyHeader.in .menuTrigger span {
    background: #2d2d2d; }
  .quickCheckoutHolder .caption {
    margin-left: 0; }
  .productBlock .productDescription {
    padding-left: 0;
    width: 100%;
    text-align: center; }
  .productBlock .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .descriptionFiguresBlock .wrapper .content {
    width: 100%; }
  .treeBlock .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .treeBlock .greeting {
    width: 100%; }
    .treeBlock .greeting .content {
      padding-left: 0;
      text-align: center; }
  .treeBlock .tree {
    width: 100%;
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .mainContainer {
    width: 100%; }
  .mainFooter .content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mainFooter .content .column {
      width: 100%; }
      .mainFooter .content .column.infoColumn {
        width: 100%; }
      .mainFooter .content .column.menuColumn {
        width: 100%;
        margin-bottom: 30px; }
        .mainFooter .content .column.menuColumn .menuHolder {
          width: 50%; }
  .quickCheckoutHolder .boldHeading {
    font-size: 28px; }
  .boldHeading {
    font-size: 36px; }
  .styledHeading {
    font-size: 34px;
    line-height: normal; }
  .descriptionFiguresBlock .descriptionFiguresHolder .figure {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .descriptionFiguresBlock .descriptionFiguresHolder .icoHolder {
    margin-left: 0;
    width: 100%;
    text-align: center; }
  .descriptionFiguresBlock .descriptionFiguresHolder .caption {
    width: 100%;
    text-align: center; }
  .productBlock .productImgHolder {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .productBlock .productImgHolder .imgList {
      height: auto;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-right: 0;
      margin-right: 0;
      overflow: visible;
      overflow-x: auto;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; }
      .productBlock .productImgHolder .imgList li + li a {
        margin-top: 0px;
        margin-left: 15px; }
    .productBlock .productImgHolder .img {
      margin-bottom: 30px;
      width: 100%; }
  .preHeader .wrapper .right {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .container-card-plus {
    height: 200px; } }

@media (max-width: 480px) {
  .mainFooter .copyrightRow .wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mainFooter .copyrightRow .wrapper .cardsHolder {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .mainFooter .copyrightRow .wrapper .copyrightHolder {
      text-align: center;
      width: 100%; }
  .mainFooter .content .column.menuColumn {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .mainFooter .content .column.menuColumn .menuHolder {
      width: 100%; }
    .mainFooter .content .column.menuColumn .menuHolder + .menuHolder {
      margin-top: 30px; }
  .descriptionFiguresBlock .descriptionFiguresHolder .figure {
    width: 100%; }
  .productBlock .productImgHolder .imgList {
    width: 290px; }
  .treeBlock .ball {
    width: 80px;
    height: 80px; }
    .treeBlock .ball span {
      top: 30px;
      left: 20px;
      font-size: 12px; }
    .treeBlock .ball a {
      width: 80px;
      height: 80px;
      margin: 0; } }
