@font-face {
  font-family: 'nexabold';
  src: url('../fonts/nexa_bold-webfont.eot');
  src: url('../fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexa_bold-webfont.woff') format('woff'),
  url('../fonts/nexa_bold-webfont.ttf') format('truetype'),
  url('../fonts/nexa_bold-webfont.svg#nexa_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexalight';
  src: url('../fonts/nexa_light-webfont.eot');
  src: url('../fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nexa_light-webfont.woff') format('woff'),
  url('../fonts/nexa_light-webfont.ttf') format('truetype'),
  url('../fonts/nexa_light-webfont.svg#nexa_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'freehand';
  src: url('../fonts/freehand-webfont.eot');
  src: url('../fonts/freehand-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/freehand-webfont.woff') format('woff'),
  url('../fonts/freehand-webfont.ttf') format('truetype'),
  url('../fonts/freehand-webfont.svg#tr_freehand575regular') format('svg');
  font-weight: normal;
  font-style: normal;
}