* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

::selection {
  background: $mainColor;
  color: #ffffff;
}

::-moz-selection {
  background: $mainColor;
  color: #ffffff;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.hidden {
  display: none!important;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

.logo {
  display: block;
  width: 165px;
  height: 45px;
  background: url("../img/logo1.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.pageHolder {
  padding: 120px 0;
}

.mainContainer {
  width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.btnPrimary {
  background: $mainColor;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  padding: 13px 40px;
  display: inline-block;
  border: 1px solid $mainColor;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  white-space: nowrap;
  &:hover {
    color: #fff;
    text-decoration: none;
    background: darken($mainColor, 5%);
    border: 1px solid darken($mainColor, 5%);
  }
  &:focus,
  &:active {
    text-decoration: none;
    color: #fff;
  }
}

.btnWhite {
  background: #fff;
  color: $mainColor;
  text-decoration: none;
  border-radius: 4px;
  padding: 13px 40px;
  display: inline-block;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  white-space: nowrap;
  &:hover {
    color: $mainColor;
    text-decoration: none;
    background: darken(#fff, 5%);
    border: 1px solid darken(#fff, 5%);
  }
  &:focus,
  &:active {
    text-decoration: none;
    color: $mainColor;
  }
}

.preHeader {
  background: rgba(0,0,0,.3);
  padding: 5px 0;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    .right {
      display: flex;
    }
    .localMenu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      margin-right: 30px;
      a {
        display: block;
        color: #fff;
        font-size: 12px;
        //text-transform: uppercase;
        font-weight: 300;
        text-decoration: none;
        transition: .3s;
      }
      li + li {
        margin-left: 15px;
      }
    }
    .socList {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      a {
        color: #fff;
        font-size: 18px;
      }
      li + li {
        margin-left: 15px;
      }
    }
  }
}

.mainHeader {
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: .3s;
  background: transparent;
  .mainMenuHolder {
    padding: 18px 0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menuContainer {
      display: flex;
    }
  }
  &.stickyHeader {
    &.fixed {
      top: -100%;
      position: fixed;
      .preHeader {
        display: none;
      }
      .logo {
        background: url("../img/logo2.png") no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
    &.in {
      -webkit-box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6);
      box-shadow: 0 4px 13px 0 rgba(51, 51, 51, 0.6);
      background: #fff;
      top: 0;
      .menu {
        a {
          color: #2d2d2d;
        }
      }
      .cartBtn {
          color: #2d2d2d;
      }
    }
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    a {
      display: block;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 300;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: .3s;
      &:hover {
        border-bottom-color: $mainColor;
      }
    }
    li {
      &.active {
        a {
          border-bottom-color: $mainColor;
        }
      }
    }
    li + li {
      margin-left: 15px;
    }
  }
  .menuHolder {
    display: flex;
  }
  .cartBtn {
    color: #fff;
    font-size: 32px;
    margin-left: 30px;
  }
}

.menuTrigger {
  display: block;
  width: 40px;
  height: 24px;
  span {
    height: 4px;
    background: #fff;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }
  span + span {
    margin-top: 6px;
  }
}

.productBlock {
  background: url("../img/bg2.png") repeat;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .productImgHolder {
    display: flex;
    .imgList {
      list-style: none;
      margin-right: 10px;
      height: 525px;
      overflow-y: auto;
      padding-right: 30px;
      a {
        display: block;
        width: 70px;
        height: 105px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      li + li {
        a {
          margin-top: 15px;
        }
      }
    }
    .img {
      width: 450px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      img{
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }
    }
  }
  .productDescription {
    padding-left: 60px;
    .price {
      font-size: 36px;
      margin-bottom: 15px;
    }
    .text {
      margin-bottom: 30px;
      padding-top: 45px;
      p {
        font-size: 14px;
        font-weight: 300;
      }
      p + p {
        margin-top: 10px;
      }
    }
  }
}

.videoBlock {
  background: url("../img/videoBg.png") no-repeat;
  background-size: cover;
  position: relative;
  .h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .watch {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 106px;
    position: relative;
    color: #ff0000;
    text-decoration: none;
    padding: 15px 0;
    .fa {
      position: relative;
      z-index: 2;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  }
    &:after {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      background: #fff;
      position: absolute;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
  }
  .videoHolder {
    width: 860px;
    height: 480px;
    margin: auto;
  }
  .content {
    position: relative;
    z-index: 2;
  }
  .heading {
    color: #fff;
    text-align: center;
  }
}

.descriptionFiguresBlock {
  background: url("../img/bg2.png") repeat;
  .bgHolder {
    background: url("../img/paint.png") no-repeat;
    background-position: bottom right;
  }
  .wrapper {
    display: flex;
    padding: 50px 0;
    .content {
      width: 60%;
    }
  }
  .descriptionFiguresHolder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: -15px;
    .figure {
      width: 50%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .icoHolder {
      font-size: 54px;
      margin-right: 15px;
      color: #76808b;
      width: 60px;
      text-align: center;
    }
    .caption {
      width: calc(100% - 75px);
    }
    h3 {
      margin: 0 0 5px 0;
      font-size: 16px;
      color: #768089;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      color: #9faab3;
      text-shadow: 0 1px 3px rgba(255, 255, 255, 0.4);
    }
  }
}

.boldHeading {
  text-align: center;
  font-family: 'nexabold', sans-serif;
  color: #a0aab4;
  font-size: 49px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: normal;
}

.styledHeading {
  text-align: center;
  font-family: 'freehand', sans-serif;
  color: #a0aab4;
  font-size: 52px;
  line-height: 48px;
  font-weight: normal;
  text-rendering: optimizelegibility;
  margin-bottom: 20px;
}

.container-card-plus {
  background: url(../img/card-container.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  z-index: 20;
  max-height: 400px;
  height: 400px;
  position: relative;
}

.treeBlock {
  background: url("../img/bg2.png") repeat;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.6);
  position: relative;
  border-bottom: 0;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .customRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .star {
    display: inline-block;
    background: url(../img/star.png) 50% 0 no-repeat;
    width: 94px;
    height: 90px;
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: rotate(145deg);
    }
  }
  .ball {
    display: inline-block;
    background: url(../img/ball.png) 50% 0 no-repeat;
    width: 102px;
    height: 117px;
    background-size: contain;
    span {
      position: absolute;
      top: 32px;
      left: 21px;
      color: #fff;
      width: 55px;
      line-height: 14px;
    }
    a {
      display: block;
      width: 92px;
      height: 92px;
      border-radius: 50%;
      margin: 18px 0 0 3px;
      position: relative;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #9E9E9E;
      }
    }
    img {
      opacity: 0;
      border-radius: 46px;
      border: 2px solid #fff;
      background: #fff;
      transition: all 0.4s ease-in-out;
      max-width: 100%;
      display: block;
    }
    .open {
      img {
        opacity: 1;
      }
      span {
        opacity: 0;
      }
    }
  }
  .tree {
    width: 50%;
  }
  .greeting {
    display: flex;
    align-items: center;
    width: 50%;
    font-family: 'Roboto Slab', "Helvetica Neue",Helvetica,Arial,sans-serif;
    .content {
      padding-left: 60px;
      display: none;
      &.active {
        display: block;
      }
    }
    .gh1 {
      display: block;
      font-size: 39px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      font-weight: 700;
      padding: 0 0 20px;
      color: #ed0603;
    }
    .gh2 {
      display: block;
      font-size: 18px;
      text-shadow: 0 1px 0 #ccc;
      font-weight: 300;
      padding: 0 0 20px;
    }
  }
}

.mainFooter {
  background: $mainColor;
  position: relative;
  color: #fff;
  .content {
    padding: 45px 0;
    display: flex;
    position: relative;
    z-index: 2;
    margin: 0 -15px;
    .columnHeading {
      color: #fff;
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:after {
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 10px;
        position: absolute;
        z-index: 2;
        background: #fff;
      }
    }
    .column {
      padding: 0 15px;
    }
  }

  .socList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    a {
      color: #fff;
      font-size: 18px;
    }
    li + li {
      margin-left: 15px;
    }
  }
  .logo {
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
  }
  .localMenu {
    list-style: none;
    a {
      color: #fff;
      padding: 5px 0;
      font-size: 16px;
      line-height: 26px;
      cursor: pointer;
      text-decoration: none;
      i {
        height: 16px;
        width: 16px;
        margin-right: 5px;
      }
    }
  }
  .contactUsFormHolder {
    .formControl {
      width: 100%;
      border: 1px solid #fff;
      color: #fff;
      background: transparent;
      margin-bottom: 20px;
      padding: 8px 12px;
      &::-webkit-input-placeholder {
        color: #fff;
      }
      &::-moz-placeholder {
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
      &:-moz-placeholder {
        color: #fff;
      }
    }
  }
  .infoColumn {
    width: 35%;
  }
  .menuColumn {
    width: 30%;
    .menuHolder + .menuHolder {
      margin-top: 30px;
    }
  }
  .copyrightRow {
    position: relative;
    z-index: 2;
    background: rgba(0,0,0,.3);
    padding: 10px 0;
    .copyrightHolder {
      font-size: 14px;
    }
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .cardsHolder {
      img {
        display: block;
        width: 165px;
      }
    }
  }
}

.btnGhost {
  background-color: transparent;
  border-radius: 0;
  padding: 15px 30px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #fff;
  display: inline-block;
  transition: .2s;
  text-decoration: none;
  &:hover,
  &:hover,
  &:active {
    background: #fff;
    color: $mainColor;
    text-decoration: none;
  }
  .fa {
    margin-left: 5px;
  }
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.snowfall {
  background-image: url(../img/s1.png), url(../img/s2.png), url(../img/s3.png);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  animation: snow 10s linear infinite;
}

.quickCheckoutHolder {
  padding-bottom: 60px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tubeImg {
    width: 640px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .caption {
    display: flex;
    align-items: center;
    margin-left: 60px;
  }
  .headingHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
  }
  .boldHeading {
    font-size: 39px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    font-weight: 700;
    color: #ed0603;
    position: relative;
    display: inline-block;
    &:before {
      content: "";
      display: block;
      height: 1px;
      width: 150px;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%, $mainColor 100%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -180px;
      z-index: 3;
    }
    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 150px;
      background: linear-gradient(to right, $mainColor 0%, rgba(255,255,255,1) 100%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -180px;
      z-index: 3;
    }
  }
}


.mainVideoHolder {
  position: fixed;
  bottom: 100px;
  left: 20px;
  z-index: 100;
  .backDrop {
    display: none;
    position: fixed;
  }
  .videoHeader {
    background: rgba(0, 0, 0, 0.97);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    height: 20px;
    position: absolute;
    top: -25px;
    left: -5px;
    width: calc(100% + 10px);
    border: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 0;
    a {
      color: #fff;
      font-size: 14px;
      opacity: .8;
      display: block;
      line-height: 14px;
    }
    a + a {
      margin-left: 10px;
    }
    .min {
      display: none;
    }
    .closeVideo {
      font-size: 18px;
      font-weight: 300;
    }
  }
  &.in {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    .videoHeader {
      .min {
        display: block;
      }
      .max {
        display: none;
      }
    }
    .backDrop {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      z-index: 101;
    }
    .wrapper {
      width: 800px;
      height: 450px;
      transition: width .5s;
      position: relative;
      z-index: 102;
    }
    .target {
      display: none;
    }
  }
  .wrapper {
    width: 320px;
    height: 180px;
    position: relative;
    transition: width .5s;
    border: 5px solid rgba(0,0,0,.97);
  }
}

.stickyCartHolder {
  width: 320px;
  height: 100%;
  background: linear-gradient(to top, rgb(240, 0, 0), rgb(220, 40, 30));
  color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform .3s;
  &.in {
    transform: translateX(0);
  }
  .heading {
    text-align: center;
    padding: 25px;
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
  }
  .productTableHolder {
    padding: 15px 25px;
    border-bottom: 1px solid #fff;
    display: flex;
    .imgHolder {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      img {
        max-width: 100%;
      }
    }
    .description {
      font-size: 15px;
      padding: 10px;
    }
    .deleteButton {
      display: flex;
      align-items: center;
      font-size: 12px;
      a {
        color: #fff;
      }
    }
  }
  .totalHolder {
    font-size: 16px;
    text-transform: uppercase;
    padding: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .qnt {
      margin-left: 10px;
      font-size: 1.5em;
    }
  }
  .btnHolder {
    text-align: center;
    padding: 15px;
    .btnGhost{
      width:100%;
      text-transform: uppercase;
      border: 2px solid #fff;
    }
  }
}

.cartBackDrop {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.6);
  opacity: 0;
  display: none;
  z-index: 999;
  transition: opacity .3s;
  &.in {
    opacity: 1;
    display: block;
  }
}

.introSlide {
  position: relative;
  background: $mainColor;
  height: 120px;
}

@keyframes menuAnimIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menuAnimOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.staticPageHolder {
  color: #717171;
  background: url(../img/bg2.png) repeat;
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 35px;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

//Todo list Andrew

.todolistBlock {
  padding-top: 120px;
  background: url(../img/bg2.png) repeat;
}

.todolistBlock .wrapper {
  width: 70%;
  margin-left: 15%;
  display: block;
}

.tabToDoHeader {
  display: block;
  width: 100%;
  background: #DE0603;
  height: 70px;
  position: relative;
}

.tabToDoHeader:before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  background: url(../img/ribbon_left.png) 0 0 no-repeat;
  width: 40px;
  height: 78px;
}

.tabToDoHeader:after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  background: url(../img/ribbon_right.png) 0 0 no-repeat;
  width: 40px;
  height: 78px;
}

.toDoListCaption {
  background: #fff;
  display: inline-block;
  float: left;
  padding: 15px 40px;
  font-size: 18px;
  line-height: 40px;
  position: relative;
  z-index: 9999;
  font-weight: bold;
  color: #dd0603;
}

.toDoListCaption:after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 35px 0 35px 19px;
  border-color: transparent transparent transparent #fff;
}

.toDoListNav {
  display: inline-block;

}

.tabToDoHeader .nav-tabs {
  border-bottom: 0px;
}

.tabToDoHeader .nav-tabs li {
  margin-bottom: 0px;
}



.tabToDoHeader .nav-tabs > li > a {
  margin-right: 0px;
  font-size: 18px;
  line-height: 40px;
  border: 0;
  border-radius: 0;
  color: #fff;
  padding: 15px 40px;
  -webkit-text-shadow: 0 1px 0 #C80702;
  -moz-text-shadow: 0 1px 0 #C80702;
  text-shadow: 0 1px 0 #C80702;
  transition: all .3s ease-in;
}

.tabToDoHeader .nav-tabs > li:first-child > a {
  padding-left: 70px;

}

.tabToDoHeader .nav-tabs>li.active>a,
.tabToDoHeader .nav-tabs>li.active>a:focus,
.tabToDoHeader .nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #AF0705;
  border: 0;
  border-bottom-color: transparent;
  text-shadow: none;
  line-height: 40px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #AF0705;
}

#toDoListContent{
  margin-top: 50px;
}

.mediaContainer{
  width: 150px;
  height: 150px;
}

.media{
  padding: 10px 0;
}

.media-left{
  padding: 0 20px;
}

.media-responsive {
  display: block;
  max-height: 100%;
  width: auto;
  margin: 0 auto;
}

.media-body{
  vertical-align: middle;
}

//End