@media (max-width: 991px) {
  .mainContainer {
    width: 750px;
  }
  .mainHeader {
    .wrapper {
      flex-wrap: wrap;
      .logo {
        order: 1;
      }
      .menuContainer {
        background: rgba(0,0,0,.98);
        width: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        align-items: center;
        justify-content: center;
        opacity: 0;
        overflow: hidden;
        &.in {
          display: flex;
          animation-name: menuAnimIn;
          animation-duration: .4s;
          animation-fill-mode: forwards;
        }
        &.out {
          animation-name: menuAnimOut;
          animation-duration: .4s;
          animation-fill-mode: forwards;
        }
        .closeMenu {
          color: #fff;
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 42px;
        }
      }

      .menu {
        order: 3;
        flex-wrap: wrap;
        li {
          width: 100%;
          a {
            border-bottom: 0;
            padding: 10px 0;
            font-size: 24px;
            font-weight: normal;
            text-align: center;
          }
        }
        li + li {
          margin-left: 0;
        }
        &.in {
          max-height: 800px;
          padding: 15px 0;
        }
      }
      .menuTrigger {
        order: 2;
        margin: 10px 0;
      }
      .cartBtn {
        margin-left: 0;
      }
    }
    &.stickyHeader {
      &.in {
        .menu {
          a {
            color: #fff;
          }
        }
        .menuTrigger {
          span {
            background: #2d2d2d;
          }
        }
      }
    }
  }
  .quickCheckoutHolder {
    .caption {
      margin-left: 0;
    }
  }
  .productBlock {
    .productDescription {
      padding-left: 0;
      width: 100%;
      text-align: center;
    }
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .descriptionFiguresBlock {
    .wrapper {
      .content {
        width: 100%;
      }
    }
  }
  .treeBlock {
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    .greeting {
      width: 100%;
      .content {
        padding-left: 0;
        text-align: center;
      }
    }
    .tree {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

